body{
    margin: 2%;
    background-color: rgb(185, 120, 238);
    font-size: 26px;
}


.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a{
    font-size: 23px;
    color: black;
}

h1{
    text-align: center;
}

hr{
    /* border:none; */
    border-top: 2px;
    background-color: #ff0000;
}



button{
    border-radius: 5px;
    font-family: "Dancing Script", cursive;
    background-color: rgb(164, 211, 230);
    padding: 0 20px;
    height: 50px;
    width: 150px;
    display: inline;
}