
*{
    margin: 0;
    padding: 0;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 1rem;
    background-color: black;
    margin: auto;
}

#btns button{
    background-color: brown;
    height: 2.3rem;
    width: 10rem;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 50px;
    border: none;
}

.block{
    height: auto;
    background-color: antiquewhite;
    width: 100%;
}

#title{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration-line: underline; 
}

#banner{
    display: block;
    margin: 2rem auto;
    width: fit-content;
    height: 30rem;
    border: 0.4rem solid black;
    border-radius: 5rem;
}

#dish{
    display: flex;
    width: 170vh;
    height: 15rem;
    background-color: rgb(228, 143, 33);
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    border-radius: 3rem;
    padding: 2rem;
    gap: 40px;

}

#dishImg{
    box-sizing: border-box;
    border-radius: 2rem;
    margin: 1rem;
    width: 40vh;
    height: 30vh;
    border: 0.5rem solid black;
}

.para{
    text-align: justify;
    font-size: 32px;
    padding: 1rem;
    font-weight: 700;
}

#timing{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20rem;
}

#subtitle{
    font-size: 2.5rem;
    text-decoration:dotted;
}

ul li{
    font-size: 2rem;
    list-style-type:square;
}
