*{
    margin: 0;
    padding: 0;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: rgb(247, 221, 187);
}


#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 1rem;
}

#btns button{
    background-color: brown;
    height: 2.3rem;
    width: 10rem;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    
}

.block{
    height: auto;
    width: 100%;
}

#title{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration-line: underline; 
}

#banner{
    display: block;
    margin: 2rem auto;
    width: 50%;
    /* min-width: 200px; */
    height: 65vh;
    border: 0.4rem solid black;
    border-radius: 5rem;
}

#dish{
    display: flex;
    width: 140vh;
    height: 15rem;
    background-color: rgb(228, 143, 33);
    align-items: center;
    margin: 2rem auto;
    border-radius: 3rem;
    padding: 1.5rem;
    gap: 40px;
    border-left: 1.6rem solid rgb(49, 1, 1);
    box-shadow: 0.5rem 1rem 1rem rgb(49, 1, 1);
}

#dishImg{
    box-sizing: border-box;
    border-radius: 2rem;
    margin: 1rem;
    width: 37vh;
    height: 30vh;
    border: 0.4rem solid black;
    flex:1;
}

.para{
    text-align: justify;
    font-size: 32px;
    padding: 1rem;
    font-weight: 700;
}

#timing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 20rem;
    background-color: rgb(228, 143, 33);
    border-radius: 3rem;
    padding: 2rem;
    box-shadow: 0.5rem 1rem 1rem rgb(49, 1, 1);
}

#subtitle{
    font-size: 2.5rem;
    text-decoration:dotted;
}

ul li{
    font-size: 2rem;
    list-style-type:square;
}

#ourStory{
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    width: 55vw;
    margin: 2rem auto;
    background-color: rgb(228, 143, 33);
    padding: 2rem;
    box-shadow: 0.5rem 1rem 1rem rgb(49, 1, 1);
}

@media (max-width:600px){
    #btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;
        height: auto;
        /* padding: 1rem; */
    }

    #banner{
        display: block;
        margin: 2rem auto;
        width: 50%;
        min-width: 250px;
        height: auto;
    }

    #dish{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        align-items: center;
        margin: 2rem auto;
        border-radius: 3rem;
        padding: 1.5rem;
        gap: 40px;
    }
    #timing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem auto;
        width: 70%;
        border-radius: 3rem;
        padding: 2rem;
    }
    #ourStory{
        width: 70%;
    }
}